.app-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.app {
  position: absolute;
  height: 100vh;
  justify-content: center;
  text-align: left;
  margin-left: 5em;
}
.container {
  position: relative;
  text-align: left;
  height: 100vh;
}

.while-loading {
  pointerEvents: none;
  opacity: 0.4;
}

.is-loaded {
  pointerEvents: auto;
  opacity: 1.0;
}

.arrow-down {
  height: 0.8em;
  transform: rotate(90deg);
  transition: transform 250ms linear;
}
.arrow-right {
  height: 0.8em;
  transform: rotate(0deg);
  transition: transform 250ms linear;
}

.catalog-select {
  margin-left: 1em;
}

.current-catalog {
  display: flex;
  flex-direction: row;
}

.details-info {
  display: flex;
  align-items: left;
  flex-direction: column;
  text-indent: 3em;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  margin-bottom: 1em;
  margin-left: -4em;
  width: 95vw;
}

.license {
  margin-top: 1em;
  margin-bottom: 1em;
}

.url-input {
  margin-top: 1em;
}
