.app-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.arrow-down {
  height: 0.8em;
  transform: rotate(90deg);
  transition: transform 250ms linear;
}
.arrow-right {
  height: 0.8em;
  transform: rotate(0deg);
  transition: transform 250ms linear;
}


.catalog-select {
  margin-left: 3vmin
}

.ocpn-card {
  width: 36rem  
}

.current-catalog {
  display: flex;
  flex-direction: row;
}

.details-info {
  display: flex;
  align-items: left;
  flex-direction: column;
  text-indent: 5%
}

.copyright {
  position: absolute;
  bottom: 0;
}
#container {
   position: relative;
}
